<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/base :: layout(~{::title}, ~{},~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
<title>OSKR</title>
</head>
<body>
	<!-- ▼メインコンテンツ -->
	<div class="d-flex ">
		<!-- ラインナップ -->
		<div class="m-3 mx-auto">
			<h1 class="text-center text-bold">
				「<span th:text="${keyword}">xxxxxx</span>」ラインナップ
			</h1>
			<div class="row row-cols-1 g-4" th:each="filmwork:${filmworks}">
				<div class="col mb-1">
					<div class="card">
						<a th:href="@{/home/filmwork/{id}(id=${filmwork.id})}"> <img
							th:src="@{${filmwork.thumbnail}}" class="card-img-top" alt="..."
						>
						</a>
						<div class="card-body">
							<h5 class="card-title" th:text="${filmwork.title}">映画タイトル</h5>
							<ul class="d-flex flex-wrap gap-5 card-text list-unstyled">
								<li class="  d-flex"><label>公開日：</label>
									<p
										th:text="${#dates.format(filmwork.releasedate,'yyyy年MM月dd日')}"
									></p></li>
								<li class=" d-flex" th:if="${filmwork.reviewSum != null}">
									<label>レビュー：</label>
									<p>
										<span th:text="${filmwork.reviewSum}"></span>件
									</p>
								</li>
								<li class=" d-flex" th:if="${filmwork.rateAve != null}"><label>評価：</label>
									<p th:text="${filmwork.rateAve}"></p></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- ▲メインコンテンツ -->
	</div>
</body>
</html>