<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mypage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <section class="row bg-white border border-3 py-1 mt-3">
        <div class = "col-4">
            <div>
                <img class= "img-fluid mx-auto d-block" src="defaulticon.png" alt="プロフィールアイコン" />
            </div>
        </div>

        <div class="col-8">
            <div class="mb-1">
              <div class ="row">
                <h1 class="fw-bold text-left mt-3 col-6">ユーザー名：オスカー君</h1>
                  <!--以下、ユーザー名変更ボタン-->
  
                    <div class="mt-4 col-3">
                      <button type="button" class="btn btn-outline-secondary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#modal_wrap1">ユーザー名変更</button>
                      <div class="modal fade" id="modal_wrap1" tabindex="-1" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">
                                    <h5 class="modal-title">ユーザー名の変更</h5>
                                </div>
                                  <div class="modal-body">
                                      <p><font size="2.5">ユーザー名を入力してください</font></p> 
                                      <div class="mb-3">
                                        <label for="" class="form-label">ユーザー名</label>
                                        <input type="" class="form-control" placeholder="ユーザー名">
                                      </div>
                                      
                                  </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                      <button type="button" class="btn btn-primary">変更</button>
                                    </div>
                              </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--以上、ユーザー名変更ボタン-->
                <!--以下、自己紹介編集ボタン-->
                <div class=" mt-3">
                  <button type="button" class="btn btn-outline-secondary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#modal_wrap2">自己紹介の編集</button>
                  <div class="modal fade" id="modal_wrap2" tabindex="-1" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <form>
                            <div class="modal-header">
                                <h5 class="modal-title">自己紹介の編集</h5>
                            </div>
                              <div class="modal-body">
                                  <p><font size="2.5">自己紹介を入力してください</font></p> 
                                    <div class="form-floating mb-3">
                                      <textarea class="form-control" name="opinion" id="input_opinion" placeholder="ID" style="height: 60px"></textarea>
                                    </div>
                              </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                                  <button type="button" class="btn btn-primary">変更</button>
                                </div>
                          </form>
                    </div>
                  </div>
                </div>
                <!--以上、自己紹介編集ボタン-->
                <p class="mb-2 col-8">
                自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介
                </p>
            </div>
        </div>
    </section>
      <div class="row mb-1 mt-5 mb-md-3">
        <div class="col-12">
          <h2 class="fw-bold text-center">
            <span class="d-block mb-1 text-primary fs-5">投稿済レビュー</span>
          </h2>
        </div>
      </div>

    <div class="py-2 border-bottom">
        <div class="h4 ms-5">
            <span class="fw-bold">怪物</span>
        </div>
        <div class="container">
        <div class="row">
            <div class="col-2">
              <div class="">
                <span class="fw-bold">評価：</span>
                <span class="text-primary fw-bold">3</span>
              </div>
            <div class="">2023年6月11日</div>
        </div>
            <div class="col-10">
              <p>
                前半は良かったけど途中から思ってた展開とずれてきて自分の感情との齟齬が最後まで埋められなかったなぁ。種明かしシーンが長すぎて。
              </p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button">削除</button>
              </div>
          </div>
        </div>
      </div>

      <div class="py-2 border-bottom">
        <div class="h4 ms-5">
            <span class="fw-bold">リトルマーメイド</span>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="">
                <span class="fw-bold">評価：</span>
                <span class="text-primary fw-bold">4</span>
              </div>
              <div class="">2023年6月11日</div>
            </div>
            <div class="col-10">
              <p>
                よかった
              </p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button">削除</button>
              </div>
          </div>
        </div>
      </div>

      <div class="py-2 border-bottom">
        <div class="h4 ms-5">
            <span class="fw-bold">オールド</span>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="">
                <span class="fw-bold">評価：</span>
                <span class="text-primary fw-bold">1</span>
              </div>
              <div class="">2023年6月11日</div>
            </div>
            <div class="col-10">
              <p>
                好きじゃない
              </p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" type="button">削除</button>
              </div>
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>
