<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(link, contents)">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>OSKR</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
</head>
<body>
	<header th:replace="~{layout/header::header}"></header>
	<div  id="side-bar" th:replace="~{layout/sideBar::side-bar}"></div>
	<div class="container ">
		<div class="container-fluid">
			<div th:insert="${contents}"></div>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>