<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div th:fragment="side-bar" class=" text-white  m-0" >
      	<nav class="row d-flex bnavbar navbar-dark bg-secondary px-1">
	        <ul class="col-6 nav nav-pills ">
	            <li class="nav-item">
	                <a th:href="@{/home}" class="nav-link active " aria-current="page">
	                    <button class="bg-transparent nav-link text-white">ホーム</button>
	                </a>
	            </li>
	            <li  class="nav-item">
	            	<div th:if="${#authentication.principal != null}">
		                <a th:href="@{/mypage}" class="nav-link text-white">
		                    <button class="bg-transparent nav-link text-white ">マイページ</button>
		                </a>
	                </div>
	            </li>
	        </ul>
	        <ul class="col-6 nav nav-pills me-auto flex-row-reverse">
	          <li class="nav-item waves-effect waves-light   " sec:authorize="${!isAuthenticated()}">
	            <a id="logoutLink" class="nav-link text-white link-dark" th:href="@{/loginForm}">
                    <button class="nav-link text-white ">
                        <i id="loginLink" >ログイン/新規登録</i>
                    </button>
                 </a>
	          </li>
	          <li class="nav-item waves-effect waves-light  link-dark " sec:authorize="${isAuthenticated()}">
	             <form class="nav-link text-white" th:action="@{/logout}" method="post">
                    <button class="nav-link text-white ">
                        <i id="logoutLink" >ログアウト</i>
                    </button>
                </form>
	          </li>
	        </ul>
		</nav>
    </div>
</body>
</html>