<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap Sample</title>

    <!-- BootstrapのCSS読み込み -->
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"> -->
 <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <!-- BootstrapのJS読み込み -->
        <H1>Bootstrap Sample</H1>
    <script src="js/bootstrap.min.js"></script>
<!--    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script> -->
  </body>
</html>