<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/base :: layout( ~{},~{::body/content()})}"
>
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- ▼メインコンテンツ -->
	<div>
		<div
			class="position-absolute h-100 w-100 m-0 d-flex align-items-center justify-content-center"
		>
			<div class="btn-group-vertical">
				<div class="text-center">
					<p class="text-white"></p>
				</div>
				<div th:if="${param.error}" class="row">
					<div class="text-center">
						<p class="text-danger">
							ユーザ名またはパスワードが違います。<br>再ログインして下さい。
						</p>
					</div>
				</div>
				<button type="button" class="mb-3 btn btn-primary btn-lg"
					data-bs-toggle="modal" data-bs-target="#modal_wrap1"
				>ログイン</button>
				<form th:action="@{/login}" th:method="post">
					<div class="modal fade" id="modal_wrap1" tabindex="-1"
						data-bs-backdrop="static"
					>
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-body">
									<div class="modal-header mb-3">
										<p>ユーザー名、パスワードを入力の上、認証ボタンを押してください。</p>
									</div>
									<div class="row mb-2">
										<div class="offset-2 col-md-8">
											<div class="form-group">
												<label>ユーザー名：</label> <input name="name" type="text"
													placeholder="ユーザー名"
												>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="offset-2 col-md-8 mb-1">
											<div class="form-group">
												<label>パスワード ：</label> <input name="password"
													type="password" placeholder="パスワード"
												>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal"
									>閉じる</button>
									<button type="submit" class="btn btn-primary"
										data-bs-dismiss="modal"
									>認証</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				<button type="button" class="btn btn-primary btn-lg"
					data-bs-toggle="modal" data-bs-target="#modal_wrap2"
				>新規登録</button>
				<form method="post" th:action="@{/login/signup}"
					th:object="${signupForm}"
				>
					<div class="modal fade" id="modal_wrap2" tabindex="-1"
						data-bs-backdrop="static"
					>
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-body">
									<div class="modal-header mb-3">
										<p>ユーザー名、パスワードを入力の上、登録ボタンを押してください。</p>
									</div>
									<div class="row mb-2">
										<div class="offset-2 col-md-8">
											<div class="form-group">
												<label>ユーザー名：</label> <input type="text" id="name"
													name="name" th:value="${signupForm.name}"
												>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="offset-2 col-md-8 mb-1">
											<div class="form-group">
												<label>パスワード ：</label> <input type="password" id="password"
													name="password" th:value="${signupForm.password}"
												>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal"
									>閉じる</button>
									<button type="submit" class="btn btn-primary"
										data-bs-dismiss="modal"
									>登録</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- ▲メインコンテンツ -->
	</div>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/bootstrap.min.js}"
	></script>

</body>
</html>