<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>OSKR</title>
<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" type="text/css">
</head>
<body>
<!-- ▼共通ヘッダー -->
<div class="bg-dark bg-gradient border-bottom border-2 mb-4">
    <img class="img-fluid img-40" th:src="@{/images/logo_oskr.svg}">
</div>
<!-- ▼コンテンツ -->
<div class="d-flex ">
    <!-- ▼共通サイドバー -->
    <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
        <span class="fs-4">Sidebar</span>
        <hr>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    ホーム
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    マイページ
                </a>
            </li>
        </ul>
        <hr>
    </div>
    <!-- ▼メインコンテンツ -->
    <div class="m-2 bg-light mx-md-auto">
        <!-- 検索ボックス -->
        <div class="m-2 p-2">
            <form th:action="@{search/keyword}" method="get" class="d-flex">
                <input class="form-control me-2" type="search" name="keyword" th:value="${keyword}"  placeholder="Search" aria-label="Search" required>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <!-- 一言レビュー -->
        <section class="justify-content-center align-items-center border border-1 border-dark  bg-success bg-opacity-25 m-2 mb-5 p-2 h-20" >
            <h2>一言レビュー</h2>
            <div class="row p-2">
                <!-- 作品情報 -->
                <div class="col-4 m-2">
                    <a href="#">
                        <img class="img-thumbnail" src="..." alt="...">
                    </a>
                    <h5>ワイルドスピード ファイアーブースト</h5>
                    <ul class="list-unstyled">
                        <li class="d-flex">
                            <label>レビュー：</label>
                            <p><span>403</span>件</p>
                        </li>
                        <li class="d-flex">
                            <label>評価：</label>
                            <p>4.5</p>
                        </li>
                    </ul>
                </div>
                <!-- レビュー投稿 -->
                <div class="col-6 m-1">
                    <h3>この映画で一番感動したシーンはどこですか？</h3>
                    <form action="">
                        <input type="hidden" value="">
                        <div class="" id="count">文字数:0</div>
                        <textarea name="" id="input"class=" w-100"></textarea>
                        <button class="col offset-10 btn btn-primary d-block shadow mb-2">投稿</button>
                    </form>
                    <!-- 小さく表示する -->
                    <p class="text-sm alert alert-info">評価は３で登録されます。他の評価の場合は作品ページで投稿してください</p>
                </div>
            </div>
            <!-- レビュー一覧 -->
            <!-- scrollはスクロールバーを設置 -->
            <div class="col overflow-y-auto">
                <div class="card my-2">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="mr-auto">
                                <h4 class="card-title">アベッチ</h4>
                                <span class="text-muted">投稿日</span>
                                <span class="text-muted">2023年6月13日</span>
                            </div>
                        </div>
                    </div>
                    <div class="cardbory">
                        <p class="card-text">突然のアングル切り替え、この距離感。どんなきもちで続きを見た良いのか。。。（汗）</p>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <h4 class="card-title">オカ</h4>
                        <div class="d-flex jusitfy-contetn-between">
                            <div class="mr-auto">
                                <span class="text-muted">投稿日</span>
                                <span class="text-muted">2023年6月11日</pan>
                            </div>
                        </div>
                    </div>
                    <div class="cardbory">
                        <p class="card-text">衝突するシーンが一番感動的だった</p>
                    </div>
                </div>
                <div class="card my-2">
                    <div class="card-header">
                        <h4 class="card-title">ナイナイ</h4>
                        <div class="d-flex jusitfy-contetn-between">
                            <div class="mr-auto">
                                <span class="text-muted">投稿日</span>
                                <span class="text-muted">2023年6月10日</span>
                            </div>
                        </div>
                    </div>
                    <div class="cardbory">
                        <p class="card-text">ダムから飛び出すシーンが一番好き</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- 最新映画 -->
        <section class="mx-2">
            <h2 class="m-2 border-bottom">最新映画</h2>
            <div class="row row-cols-3 row-cols-md-3 g-4">
                <div class="col">
                <div class="card">
                    <a href="">
                        <img src="..." class="card-img-top img-thumbnail" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">スパイダーマン　アクロス・ザ・スパイダーバース</h5>
                        <ul class="card-text list-unstyled">
                            <li class="d-flex">
                                <label>公開日：</label>
                                <p>2023年6月16日</p>
                            </li>
                            <li class="d-flex">
                                <label>レビュー：</label>
                                <p><span>403</span>件</p>
                            </li>
                            <li class="d-flex">
                                <label>評価：</label>
                                <p>4.5</p>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <a href="">
                        <img   src="..." class="card-img-top img-thumbnail" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">ザ・フラッシュ</h5>
                        <ul class="card-text list-unstyled">
                            <li class="d-flex">
                                <label>公開日：</label>
                                <p>2023年6月16日</p>
                            </li>
                            <li class="d-flex">
                                <label>レビュー：</label>
                                <p><span>403</span>件</p>
                            </li>
                            <li class="d-flex">
                                <label>評価：</label>
                                <p>4.5</p>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <a href="">
                        <img   src="..." class="card-img-top img-thumbnail" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">忌怪島　きかいじま</h5>
                        <ul class="card-text list-unstyled">
                            <li class="d-flex">
                                <label>公開日：</label>
                                <p>2023年6月16日</p>
                            </li>
                            <li class="d-flex">
                                <label>レビュー：</label>
                                <p><span>403</span>件</p>
                            </li>
                            <li class="d-flex">
                                <label>評価：</label>
                                <p>4.5</p>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- ラインナップ -->
        <section class=" border border-1 border-dark m-2 p-2 h-20">
            <h2 class="m-2 border-bottom">ラインナップ</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 overflow-y-auto">
                <div class="col">
                <div class="card">
                    <a href="">
                        <img   src="..." class="card-img-top img-thumbnail" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">スパイダーマン　アクロス・ザ・スパイダーバース</h5>
                        <ul class="card-text list-unstyled">
                            <li class="d-flex">
                                <label>公開日：</label>
                                <p>2023年6月16日</p>
                            </li>
                            <li class="d-flex">
                                <label>レビュー：</label>
                                <p><span>403</span>件</p>
                            </li>
                            <li class="d-flex">
                                <label>評価：</label>
                                <p>4.5</p>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <a href="">
                        <img   src="..." class="card-img-top img-thumbnail" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">ザ・フラッシュ</h5>
                        <ul class="card-text list-unstyled">
                            <li class="d-flex">
                                <label>公開日：</label>
                                <p>2023年6月16日</p>
                            </li>
                            <li class="d-flex">
                                <label>レビュー：</label>
                                <p><span>403</span>件</p>
                            </li>
                            <li class="d-flex">
                                <label>評価：</label>
                                <p>4.5</p>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card">
                    <a href="">
                        <img  src="..." class="card-img-top img-thumbnail" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">忌怪島　きかいじま</h5>
                        <ul class="card-text list-unstyled">
                            <li class="d-flex">
                                <label>公開日：</label>
                                <p>2023年6月16日</p>
                            </li>
                            <li class="d-flex">
                                <label>レビュー：</label>
                                <p><span>403</span>件</p>
                            </li>
                            <li class="d-flex">
                                <label>評価：</label>
                                <p>4.5</p>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- 製作年・ジャンルは「｜」で区切って表示する -->
        <!-- 製作年 -->
        <section class="h-20 px-3">
            <h6 class="mx-2 border-bottom border-2 text-center ">製作年</h6>
            <ul class="list-unstyled d-flex" >
                <li class="fw-bold me-1 ">2020年代 |</li>
                <li class=" ms-1 text-secondary"><a href="">2020年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2021年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2022年</a>|</li>
            </ul>
            <ul class="list-unstyled d-flex">
                <li class="fw-bold me-1">2010年代 |</li>
                <li class=" ms-1 text-secondary"><a href="">2011年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2010年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2012年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2013年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2014年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2015年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2016年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2017年</a>|</li>
                <li class=" ms-1 text-secondary"><a href="">2018年</a>|</li>
                <li class="ms-1 text-secondary"><a href="">2019年</a></li>
            </ul>
        </section>
        <!-- ジャンル -->
        <section class="h-20 px-3">
            <h6 class="mx-2 border-bottom border-2 text-center">ジャンル</h6>
            <ul class="list-unstyled d-flex">
                <li class=" me-1 text-secondary"><a href="">ホラー</a>|</li>
                <li class=" me-1 text-secondary"><a href="">戦争</a>|</li>
                <li class=" me-1 text-secondary"><a href="">恋愛</a>|</li>
            </ul>
        </section>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/home.js}"></script>
</body>
</html>